.recipe-container {
  display: flex;
  justify-content: space-around;
}

.recipe {
  border: 1px solid black;
  width: 30%;
  box-sizing: border-box;
  margin-top: 20px;
}

.recipe img {
  width: 100%;
  max-height: 280px;
}
